table{
               
    font-family: arial, sans-serif;
    font-size: 10px;
    width: 80%;
  
    border:  "2px";
}

td, th {
    border: 1px solid #dddddd;
    
    padding: 3px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#main-header { 
    top: -10px;
     height: 60px;
    background-color: white; 
    width: 100%;
    left: 0;

    position: fixed;
     
    
 }
 body{
     
     padding-top: 60px;
 }
 #salto_de_linea{
     display: block;
     page-break-before: always;
 }

 p{
     font-size: 70px;
 }
 #negritas{
     font-weight: bold;
     
 }
